#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: 0 center;
  background-color: #ffffff;
  border-radius: 1em;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container .form-group {
  margin-bottom: 15px;
}

.login-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-container .form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #adc7c9;
}

.login-container button {
  width: 100%;
  background-color: #f0f0f0;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0059ff;
}

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container .form-group {
  margin-bottom: 15px;
}

.register-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.register-container .form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.register-container button {
  width: 100%;
  background-color: #f0f0f0;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #00ff15;
}
